/* Main */

h3 {
    margin: 0;
}

main {
    margin-top: 3vh;
}

hr {
  margin: 0;
}



.title-section {
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--bg-light), var(--bg-dark));
    align-items: center;
    margin: 0vh auto;
    padding: 2vh;
    box-shadow: var(--box-shadow-muted);
}

.title-section hr {
    width: 700px;
    border: 1px solid var(--primary-gray);
}

.title-title {
    margin-bottom: 2vh;
    color: var(--text);
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.subtitle-title {
    color: var(--text-muted);
    padding: 1em;
    border-radius: 20px;
    margin-bottom: 2vh;
}

.subtitle-title p {
    font-weight: 400;
    font-size: 17px;
    margin: 0;
    line-height: 30px;
    text-align: center;
}


.sc-programm {
    display: flex;
    justify-content: center;
    gap: 10vh;
}

.sc-programm-child {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 3vh 1vh;
    background-color: var(--bg);
    margin-top: 3vh;
    border-radius: 20px;
}

.sc-programm-child h6 {
    font-size: 13px;
    margin-bottom: 10px;
    color: var(--primary-blue);
    font-weight: 600;
}

.sc-programm-child img {
    border-radius: 10px;
}

.sc-programm-child a {
    background-color: var(--primary-black);
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    transition: 0.8s ease;
}

.sc-programm-child a:hover {
    background-color: white;
    color: var(--primary-black);
    transition: 0.8s ease;
}




@media (max-width: 690px) {

    .title-section {
        max-width: fit-content;
    }

    .subtitle-title p {
        font-size: 15px;
    }

    .title-title {
        font-size: 35px;
    }

    .title-section hr {
        width: 90vw;
    }

    .sc-programm {
        gap: 5vh;
        width: 90%;
    }

    .sc-programm-child {
        width: 70vw;
    }

    .sc-programm-child img {
        width: 35vw;
    }

    .sc-programm hr {
        display: none;
    }
}

@media (max-width: 100px) {
    .sc-programm hr {
        display: none;
    }
}

@media (min-width: 690px) and (max-width: 992px) {
    .sc-programm-child img {
        width: 25vw;
    }

    .sc-programm {
        max-width: 60vh;
    }

    .sc-programm hr {
        display: none;
    }
}