/* Allgemein */
main {
  margin-top: 3vh;
}

img {
  max-width: 100%;
  display: block;
}

/* Titel */
.title-section {
  text-align: center;
  padding: 2rem;
  background: var(--bg);
  box-shadow: var(--box-shadow-muted);
}

.title-title {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.title-section hr {
  width: 60%;
  margin: 1rem auto;
}

/* Programm Cards */
.sc-programm {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 4vh;
}

.sc-programm-child {
  background: var(--bg);
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: var(--box-shadow-muted);
  width: 400px;
  text-align: center;
}

.sc-programm-child img {
  border-radius: 15px;
  margin: 1rem 0;
}

.sc-programm-child a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  background: var(--primary-black);
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
  border: 1px solid var(--primary-black);
}

.sc-programm-child a:hover {
  background: white;
  color: var(--primary-black);
  border: 1px solid var(--primary-black);
}

/* Aufklappbarer Bereich */
.programme {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.programm-details {
  width: 90%;
  max-width: 1100px;
  background: var(--bg);
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: var(--box-shadow-muted);
}

.programm-details summary {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  list-style: none;
}

.programm-details summary::-webkit-details-marker {
  display: none;
}

/* Galerie */
.programm-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.programm-gallery img {
  border-radius: 15px;
  box-shadow: var(--box-shadow-muted);
  transition: transform 0.3s ease;
}

.programm-gallery img:hover {
  transform: scale(1.03);
}



#programm-image {
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

#programm-image.zoomed {
  transform: scale(1.8);
  cursor: zoom-out;
}





/* Mobile */
@media (max-width: 600px) {
  .title-title {
    font-size: 32px;
  }

  .programm-details summary {
    font-size: 18px;
  }
}
