/* Main */

h3 {
    margin: 0;
}

main {
    margin-top: 3vh;
}


.title-section {
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--bg-light), var(--bg-dark));
    align-items: center;
    margin: 0vh auto;
    padding: 2vh;
    box-shadow: var(--box-shadow-muted);
}

.title-section hr {
    width: 40vw;
    border: 1px solid var(--primary-gray);
}

.title-title {
    margin-bottom: 2vh;
    color: var(--text);
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.subtitle-title {
    color: var(--text-muted);
    padding: 1em;
    border-radius: 20px;
    margin-bottom: 2vh;
    font-size: 15px;
}

.subtitle-title p {
    font-weight: 400;
    font-size: 17px;
    margin: 0;
    line-height: 30px;
}




.sc-programm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7vh;
    margin: 7vh auto;
    background: var(--bg);
    padding: 5vh 0;
    box-shadow: var(--box-shadow-normal);
    max-width: 90vw;
    border-radius: 20px;
}

.sc-programm hr {
    margin: 0;
    border: 1px solid var(--primary-gray);
}

.sc-programm-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-light);
    padding: 2vh;
    width: fit-content;
    border-radius: 20px;
    box-shadow: var(--box-shadow-muted);
    color: var(--text);
}

.sc-programm-child hr {
    border: 1px solid var(--primary-gray);
}

.sc-programm-child h6 {
    color: var(--primary-blue);
    margin-top: 0.5vh;
}

.sc-programm-child p {
    color: var(--text-muted);
    text-align: center;
}

.sc-programm-child img {
    margin-top: 1vh;
    border-radius: 10px;
    width: 15vw;
}

.sc-programm-child > h3 {
    text-align: center;
}




.sc-programm-child a {
    font-weight: 700;
    text-decoration: none;
    color: var(--text);
    transition: 1s ease;
    padding: 6px 10px;
    border-radius: 10px;

}

.sc-programm-child a:hover {
    color: var(--bg-light);
    transition: 0.5s ease;
    transform:translateY(3px)
}

@media (max-width: 690px) {

    .title-section {
        max-width: fit-content;
    }

    .title-title {
        font-size: 25px;
    }

    .title-section hr {
        width: 80vw;
        border: 1px solid var(--primary-gray);
    }

    .sc-programm-child {
        width: 70vw;
    }

    .sc-programm-child img {
        width: 35vw;
    }
}

@media (max-width: 100px) {
    .sc-programm hr {
        display: none;
    }
}

@media (min-width: 690px) and (max-width: 992px) {
    .sc-programm-child img {
        width: 25vw;
    }
}